
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1460341320'); /* IE9*/
  src: url('iconfont.eot?t=1460341320#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1460341320') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1460341320') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1460341320#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconloading:before { content: "\e60c"; }
.icon-close:before { content: "\e60d"; }
.icon-ins:before { content: "\e604"; }
.icon-facebook:before { content: "\e605"; }
.icon-youtube:before { content: "\e606"; }
.icon-twitter:before { content: "\e607"; }
.icon-gifts:before { content: "\e60e"; }
.icon-back:before { content: "\e60f"; }
.icon-more:before { content: "\e60a"; }
.icon-plus:before { content: "\e616"; }
.icon-subtract:before { content: "\e619"; }
.icon-viewlist:before { content: "\e60b"; }
.icon-icondownload:before { content: "\e608"; }
.icon-key:before { content: "\e612"; }
.icon-g:before { content: "\e601"; }
.icon-linkedin:before { content: "\e609"; }
.icon-power:before { content: "\e610"; }
.icon-shiliangzhinengduixiang101:before { content: "\e600"; }
.icon-shiliangzhinengduixiang1021:before { content: "\e602"; }
.icon-shiliangzhinengduixiang1:before { content: "\e603"; }
