
@font-face {font-family: "iconfont";
  src: url('../../public/iconfont/iconfont.eot'); /* IE9*/
  src: url('../../public/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../public/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../../public/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../public/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.fa-angle-left:before { content: "\e608"; }
.fa-angle-right:before { content: "\e613"; }
.fa-calendar:before { content: "\e677"; }
.fa-calendar-o:before { content: "\e677"; }
.iconfont,.fa {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iconloading:before { content: "\e63a"; }
.icon-close:before { content: "\e642"; }
.icon-star:before { content: "\e630"; }
.icon-squarecheck:before { content: "\e633"; }
.icon-starfull:before { content: "\e631"; }
.icon-delete:before { content: "\e63d"; }
.icon-refresh:before { content: "\e63c"; }
.icon-square:before { content: "\e634"; }
.icon-ins:before { content: "\e61d"; }
.icon-writetogethersuccess:before { content: "\e63b"; }
.icon-Anker_Cart:before { content: "\e65b"; }
.icon-form:before { content: "\e65e"; }
.icon-less:before { content: "\e601"; }
.icon-search:before { content: "\e664"; }
.icon-Anker_Account:before { content: "\e66a"; }
.icon-facebook:before { content: "\e657"; }
.icon-youtube:before { content: "\e602"; }
.icon-twitter:before { content: "\e615"; }
.icon-edit:before { content: "\e63f"; }
.icon-1434636247meanicons54:before { content: "\e62e"; }
.icon-gifts:before { content: "\e674"; }
.icon-logout:before { content: "\e672"; }
.icon-tabordersinactive:before { content: "\e64a"; }
.icon-similarproduct:before { content: "\e66f"; }
.icon-imagetext:before { content: "\e675"; }
.icon-faq:before { content: "\e605"; }
.icon-back:before { content: "\e608"; }
.icon-cart:before { content: "\e609"; }
.icon-more:before { content: "\e613"; }
.icon-plus:before { content: "\e616"; }
.icon-search1:before { content: "\e618"; }
.icon-subtract:before { content: "\e619"; }
.icon-viewlist:before { content: "\e61c"; }
.icon-0264warning:before { content: "\e63e"; }
.icon-gerenzhongxin:before { content: "\e670"; }
.icon-icondownload:before { content: "\e671"; }
.icon-map:before { content: "\e676"; }
.icon-g:before { content: "\e606"; }
.icon-linkedin:before { content: "\e61a"; }
.icon-power:before { content: "\e600"; }
.icon-security:before { content: "\e604"; }
.icon-manageorder:before { content: "\e673"; }
.icon-select:before { content: "\e651"; }
.icon-battery0:before { content: "\e67b"; }
.icon-zhifu:before { content: "\e603"; }
.icon-shiliangzhinengduixiang101:before { content: "\e607"; }
