/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.OrderDetail {
  max-width:$max-content-width;
  margin:0 auto;
  &-container {
    margin:4.6rem 0 100px 0;
    .orderPath{
      margin-bottom:1rem;
      color:$gray-dark;
      a:visited{
        color:$gray-dark;
      }
    }
    
    hr{
        border-top:1px solid $gray;
        margin:.3rem 0;
    }
    .info{
      overflow:hidden;
      font-size:1.2rem;
      font-weight:bold;
      .orderStatus{
        float:right;
        color:$blue;
      }
      .information{
        font-size:1.2rem;
        float:left;
      }
    }
    .orderDetailList{
      .orderItem{
        border:1px solid $gray-light;
      }
      li{
        display:flex;
        padding:.5rem;
        .count{
          width:2.5rem;
          height:2.5rem;
          text-align:center;
          line-height:2.5rem;
        }
        .orderInfo{
          flex:1;
          margin-top:1rem;
          padding-left:.5rem;
        }
        strong{
          margin-right:1rem;
        }
      }
      .package{
        line-height:2.5rem;
        a{
          color:$blue;
        }
        div:first-child{
          width:50%;
          display:inline-block;
          float:none;
          font-weight:bold;
        }
        >div{
          float:right;
          margin-right:1rem;
        }
      }
      img{
        width:7rem;
        height:7rem;
      }
      .price{
        margin-top:1rem;
        margin-right:1rem;
      }
    }
    .addressInfo,.coupon{
      margin-bottom:1rem;
      padding-left:.5rem;
    }
    .priceList{
      position:relative;
      margin-bottom:3rem;
      padding:.5rem;
      background-color:$gray-light;
      min-height:10rem;
      font-size:1.2rem;
      .total{
        margin-top:1rem;
      }
      .taxes{
        >div{
          overflow:hidden;
        }
      }
    }
    .btnList{
      position:absolute;
      top:1.5rem;
      right:1rem;
      .btn{
        display:block;
        padding:.5rem 1rem;
        color:white;
        text-align:center;
      }
      .payMent{
        background-color:$blue;
      }
      .cancelBtn{
        background-color:$gray;
        margin-top:.5rem;
      }
    }
    
    ul,li{
      padding:0;
      margin:0;
      list-style:none;
    }
    h4{
      font-size:1.2rem;
      padding:0;
      margin:1rem 0 .4rem 0;
    }
    p{
      margin:0;
      padding:0;
    }
  }
  @media screen and (max-width: 768px) {
    &-container{
      margin:2rem 1rem;
      .orderDesc{
        margin-bottom:1rem;
        .orderStatus{
          top:0;
        }
      }
      .orderDetailList{
        .package{
          border:0 none;
          line-height:100%;
          height:100%;
          padding-left:0;
          overflow:hidden;
          a{
            color:$blue;
          }
          >div{
            float:none;
            display:inline-block;
          }
          div:first-child{
            display:block;
            width:100%;
            padding-bottom:1rem;
          }
          div:nth-child(2){
            display:inline-block;
          }
          div:nth-child(3){
            display:inline-block;
          }
        }
        ul{
          margin-bottom:1rem;
        }
      }
      .priceList{
        >div{
          overflow:hidden;
          span:first-child{
            float:left;
          }
          span:last-child{
            float:right;
          }
        }
      }
      .btnList{
        position:static;
        margin-top:1rem;
        .btn{
          width:100%;
          padding:.6rem;
        }
      }
    }
  }
}
