@import '../variables.scss';

.ReturnExchange {
  color: #454545;
  .dib{display: inline-block;}
  .fr{float: right;}
  .Banner-container{
    /*background: #ebebed;*/
  }
  .banner{
    position: relative;
    /*height: 480px;*/
    /*background: url(../../public/support/banner.jpg) 0 0 no-repeat;*/
    @media only screen and (max-width: 768px){
      .text{display: none;}
    }
    .img{
      width: 100%;
    }
    .text {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 510px;
      padding: 24px 40px;
      background: color($gray-sub alpha(.7));
      color: #FFF;
      font-size: 14px;
    }
    h2{
      margin: 0 0 5px;
      color: white;
      font-size: 2.3rem;
    }
    .search{
      position: relative;
      padding-top: 5px;
    }
    .txt{
      box-sizing: border-box;
      width: 88%;
      height: 38px;
      line-height: 38px;
      padding: 0 10px;
      font-size: 29px;
      font-weight: 100;
    }
    .tip{
      position: absolute;
      margin: 0;
      border: 1px solid transparent;
      color: #838b93;
    }
  }
  a {
    text-decoration: none;
  }
  a,:focus {outline:0;}
  /* input:focus, textarea:focus, select:focus {
    transition: border-color 200ms;border-color:#4D90FE;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,0 0 8px rgba(82, 168, 236, 0.6);
  }
  input, textarea, select{
    border: 1px solid #777;
    box-sizing: border-box;
    border-radius: 5px;
  }
  input, select{
    height: $input-height;
  }
  input, textarea{
    padding: 0 10px;
  }*/
  input[type="radio"], input[type="checkbox"] {
    box-shadow:none;
  }
  textarea{
    box-sizing: border-box;
    padding: .5rem .6rem;
    min-height: 65px;
    border:1px solid $gray-light;
    border-radius:5px;
  }
  button{
    border: none;
    padding: 0 15px;
  }
  i{font-style: normal;}
  h4{
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 1.2rem;
  }
  ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0 0 5px;
  }
  dl{
    margin:0;
    padding-top: 36px;
    overflow: hidden;
    &.rma-amazon{
    }
  }
  dt{
    padding: 10px 0;
    border-bottom: 1px solid $blue;
    font-size: 2.4rem;
    text-align: center;
    i{
      display: inline-block;
      width: 39px;
      height: 38px;
      margin-right: 8px;
      background-image: url(../../public/support/anker.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      vertical-align: -2px;
    }
    .amazon{
      background-image: url(../../public/support/amazon.png);
    }
  }
  dd{
    margin: 0;
    padding: 36px 10px 0;
    .large{
      width: 100%;
    }
    .line{
      height: 1px;
      margin: 10px 0;
    }
  }
  .prods{
    margin-bottom: 10px;
    ul{
      display: table;
      border-bottom: 1px solid #ddd;
      padding: 8px 0 0;
    }
    li{
      display: table-cell;
      width: 20%;
      vertical-align: top;
    }
    .prod-name{
      margin-bottom: -2px;
      input{
        margin: 0 5px 0 0;
        vertical-align: 1px;
      }
    }
    .table{
      display: table;
      width: 100%;
      vertical-align: top;
      .cell{
        display: table-cell;
        vertical-align: middle;
      }
      .label-sn{
        width: 70px;
        padding-right: 5px;
        white-space: nowrap;
      }
      .input-normal{
        width: 100%;
      }
    }
    .name{
      width: 30%;
      input{
        margin: 0 5px 0 0;
        vertical-align: -6px;
        &:disabled{
          opacity: .4;
        }
      }
    }
    .preference,
    .problem,
    .quantity{
      padding-right: 10px;
    }
    .quantity{
      width: 13%;
    }
    .problem{
      width: 28%;
    }
    .series-no{
      width:49%;
      input{width:100%;}
    }
    .sel-info{
      display:table;
      width:100%;
      p{
        display:table-cell;
        /* &:last-child{
          padding-right: 0;
        } */
      }
      .input-normal{
        display: block;
      }
    }
  }
  .images{
    padding-bottom: 8px;
    .item{
      box-sizing: border-box;
      width: 80px;
      height: 80px;
      margin: 0 5px 5px 0;
      border: 1px solid $gray-light;
    }
    .up-box{
      position: relative;
      input{
        position: absolute;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      button{
        background: none;
        /*border-color: $gray;*/
        font-size: 1.8rem;
      }
    }
    i{
      position: relative;
      display: inline-block;
      vertical-align: top;
      .img{
        display: block;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      b{
        position: absolute;
        z-index: 7;
        top: -8px;
        right: -8px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        background: $gray-dark;
        border-radius: 20px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .submit{
    margin-right: 10px;
    background: $blue;
    color: #FFF;
  }
  .reset{
    background: $gray;
    color:#FFF;
  }
  .captcha-box{
    text-align: right;
    p{
      display: inline-block;
      vertical-align: top;
    }
  }
  .captcha{
    display: inline-block;
    width: 222px;
  }
  .captcha-img{
    height: $normal-height;
    max-width: 90px;
    padding-right: 10px;
    vertical-align: top;
  }
  .source{
    label{float: left;padding: 0 0 0 8px;}
    h4,input{vertical-align: 1px;}
    input{
      margin-right: 3px;
    }
  }
  @media only screen and (max-width: 768px){
    .prods{
      li {
        display: block;width:100%;
        padding-bottom: 2px;
      }
      .problem,
      .quantity,
      .series-no{
        width:100%;
      }
      .series-no{
        text-align: left;
      }
      .sel-info{
        p{
          display: block;
          padding-top: 2px;
          padding-right: 0;
        }
      }
    }
    .source{
      margin-bottom: 5px;
      h4{display: block;margin: 0;}
      .fr{display: block;float:none;}
    }
    .captcha-box{
      text-align:left;
      input{
        float: left;
      }
      img{
        float: right;
        padding-right: 0;
      }
      p{
        display: table;
        width: 100%;
      }
      button{
        display:table-cell;
        width: 49%;
        margin:0;
        &:first-child{
          margin-right: 2%;
        }
      }
    }
    .captcha{
      width: 80%;
    }
  }
  @media only screen and (max-width: 450px){
    .prods{
      .table{
        .cell{
          display: block;
          width: 100%;
        }
      }
    }
    .captcha{
      width: 72%;
    }
  }
  @media only screen and (max-width: 320px){
    .captcha{
      width: 67%;
    }
  }
}
