.dialogConfirm {
  position: fixed;
  left: 50%;
  top: 30%;
  z-index: 9999;
  width:90%;
  max-width:500px;
  .container{
    position:relative;
    left:-50%;
    overflow: hidden;
    border-radius: 10px;
    font-size: 12px;
    width: 100%;
    display:block;
  }
  .dialogHeader {
    background: #f0f0f0;
    line-height:1rem;
    padding: 1rem;
    border-bottom: 1px solid #cfcfcf;
    color: #323232;
    border-radius: 1rem 1rem 0 0;
  }

  .dialogContenter {
    min-height: 20px;
    font-size:1.3rem;
    max-height: 245px;
    padding: 25px 15px;
    background: white;
    word-wrap: break-word;
    p {
      margin: 0;
      padding: 0;
      line-height: 1rem;
    }
  }

  .dialogFooter {
    text-align:center;
    padding: 1rem;
    background: white;
    border-top: 1px solid #d9d9d9;
    .button {
      border-radius: 3px;
      min-width:6rem;
      border: 0;
      padding: 1rem;
      white-space: nowrap;
    }
    .normalBtn {
      background: #999;
      color: white;
    }
    .deepButton {
      margin-left: 1rem;
      color: white;
      background: #00a7e1;
    }
  }
  h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

.localMask {
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
}

.commonTip {
  width: 100%;
  max-height: 0;
  transition: 200ms;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99999;
  >span {
    border-radius: .2rem;
    display: block;
    margin: 1px;
    line-height: 12px;
    font-size: .9rem;
    color: red;
    background: rgba(0, 0, 0, .8);
    text-align: center;
  }
}

.tips {
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 50%;
  min-width: 85px;
  max-width: 118px;
  min-height: 75px;
  padding: 15px 10px 10px;
  background: rgba(0, 0, 0, .8);
  color: white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  .ta_c {
    text-align: center;
  }
  i {
    font-size: 40px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
