
/* 头部样式 */
.Header {
  height:5.1rem;
  .module_container{
    max-width:1200px;
    margin:0 auto;
    position:relative;
  }
  .registerTips{
    height:2rem;
    line-height:2rem;
    background-color:#00a7e1;
    color:white;
    text-align:center;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    >div{
      max-width:1200px;
      margin:0 auto;
    }
    .iconfont{
      font-size:1.5rem;
      float:right;
      margin-right:1rem;
      cursor:pointer;
    }
    a{
      color:white;
      cursor:pointer;
    }
  }
  &-fixed{
    position:fixed;
    z-index:100;
    top:2rem;
    left:0;
    width:100%;
    background:white;
    box-shadow:0 0 .5rem #eeeeee;
    height:5.8rem;
  }
  .tools {
    float:right;
    padding: 2.5rem 1rem 0 0;
    .users {
      width:auto;
      float:left;
      a {
        width:auto;
      }
      .account{
        color:#00a7e1;
        line-height:24px;
        text-decoration:underline;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 170px;
        @media only screen and (max-width: 1000px) {
          max-width: 155px;
        }
        @media only screen and (max-width: 900px) {
          max-width: 68px;
        }
      }
      .logout{
        .iconfont {
          font-size: 1.5rem;
          line-height: 1.8rem;
        }
      }
    }
    .tool {
      float:left;
      position:relative;
      margin-left:1.5rem;
      width:30px;
      list-style: none;
      color:#3d3938;
      text-decoration:none;
      text-align:left;
      &:hover {
        color: #00a7e1;
      };
      &.member, &.search {
        width:auto;
      }
      .iconfont {
        font-size: 20px;
      }
      .cartCount {
        position: absolute;
        top: -4px;
        left: 1.1rem;
        min-width: 12px;
        padding:0 3px;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: 12px;
        border-radius: 9px;
        background: #00a7e1;
        color: #FFF;
        font-style: normal;
        text-align:center;
        &.hide{
          display:none;
        }
      }
    }
  }
  .navigator {
    .module-container{
      height:5.8rem;
      position:relative;
      box-sizing:border-box;
    }
    .logo {
      float: left;
      margin: 1.8rem 0 0 2rem;
      height: 2.3rem;
      @media only screen and (max-width: 1000px) {
        height:1.8rem;
        margin-top:2.3rem;
      }
      img {
        float:left;
        height: 100%;
      }
    }
    .menu {
      display:none;
    }
    .list {
      position:absolute;
      z-index:10;
      left:22%;
      @media only screen and (max-width: 800px) {
      }
      top:2.9rem;
      margin:0;
      padding:0;
      display:inline-block;
      li {
        list-style: none;
        margin: 0;
        float: left;
        font-size:1.3rem;
        @media only screen and (max-width: 1000px) {
          font-size:1rem;
          padding:0 .5rem;
        }
        height: 1.2rem;
        line-height: 1.2rem;
        padding: 0 1rem;
        border-left: 1px solid #eeeeee;
        position:relative;
        &.search{
          display:none;
        }
        .iconfont {
          display:none;
        }
        &:first-child {
          border-left:none;
        }
        a {
          text-decoration: none;
          color: #3d3938;
        }
        @media only screen and (min-width: 768px) {
          &.cur{
            a {
              color: #00a7e1;
            }
          }
          &.cur, &:hover {
            .iconfont{
              left:1rem;
              right:1rem;
            }
          }
          .iconfont{
            transition:500ms;
            display:block;
            position:absolute;
            left:50%;
            right:50%;
            bottom: -.3rem;
            height: 1px;
            overflow:hidden;
            color:#00a7e1;
            background:#00a7e1;
          }
        }
        &.member {
          display:none;
        }
      }
    }
    .mask{
      display:none;
      position:fixed;
      top:0;left:0;
      width:100%;
      height:100%;
      z-index:9;
      background:rgba(0, 0 ,0 ,.5);
      transition:500ms opacity;
      opacity:0;
    }
  }
  &.close{
    height:6.3rem;
    .registerTips{
      transition: .2s;
      height:.5rem;
      overflow:hidden;
      >div{
        display:none;
      }
    }
    .Header-fixed{
      transition: .2s;
      top:.5rem;
    }
    .navigator{
      .show{
        .list{
          padding-top:3.1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px){
  .Header {
    .module-container{
      width:100%;
    }
  }
}
@media only screen and (max-width: 900px) {
  .Header {
    .navigator {
      .list{
        margin-left:1rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .Header {
    &-fixed{
      height:3.1rem;
      box-shadow:0 0 .5rem #eeeeee;
    }
    &.close{
      height:3.3rem;
    }
    text-align:center;
    .tools{
      padding: .2rem 0 0 0;
      .users, .search, .member {
        display:none;
      }
      .tool{
        .cartCount{
          left: 1.5rem;
        }
        &.cart{
          width: auto;
          .iconfont {
            font-size:2rem;
          }
          padding-right: 1rem;
        }
      }
    }
    .navigator {
      .module-container {
        height:3.1rem;
        border:none;
      }
      .logo {
        line-height:3.1rem;
        position: absolute;
        top: .7rem;
        left: 50%;
        margin: 0 0 0 -60px;
        height: 1.8rem;
        display:inline-block;
      }
      .menu {
        display:block;
        position:absolute;
        top:0;
        left:0;
        z-index:20;
        padding:0 .6rem;
        .iconfont {
          font-size:2.5rem;
          line-height:3.1rem;
        }
      }
      .list {
        position:fixed;
        z-index:10;
        top:0;
        left:0;
        margin:0;
        width:0;
        height:100%;
        box-sizing:border-box;
        transition:500ms;
        background:white;
        overflow:hidden;
        text-align:left;
        padding:5.1rem 0 0;
        float:none;
        li {
          float:none;
          padding:.3rem 0 0 .3rem;
          height:auto;
          border:none;
          line-height:3rem;
          opacity:0;
          .iconfont {
            display:block;
            position:absolute;
            top:0;right:0;
            line-height:3rem;
            font-size:1.8rem;
          }
          &.search{
            display:block;
          }
          &:nth-of-type(1) {
            transform:scale(1.5) translate(3rem, -2rem);
          }
          &:nth-of-type(2) {
            transform:scale(1.6) translate(4rem, -2rem);
          }
          &:nth-of-type(3) {
            transform:scale(1.7) translate(5rem, -2rem);
          }
          &:nth-of-type(4) {
            transform:scale(1.8) translate(6rem, -2rem);
          }
          &:nth-of-type(5) {
            transform:scale(1.9) translate(7rem, -2rem);
          }
          &:nth-of-type(6) {
            transform:scale(2) translate(8rem, -2rem);
          }
          &:nth-of-type(7) {
            transform:scale(2.1) translate(9rem, -2rem);
          }
          &.member {
            display:block;
          }
        }
      }
      .mask{
        display:block;
        width:0;
      }
      .show {
        .menu {
          color:#00a7e1;
        }
        .list{
          width:60%;
          padding:5.1rem 1rem 0;
          li{
            border-bottom:1px solid #eeeeee;
            transform:scale(1);
            opacity:1;
            padding-top:0;
            font-size:1rem;
            a{
              position:relative;
              display:block;
              em{
                text-transform:lowercase;
              }
            }
            &:nth-of-type(1){
              transition: .5s 0s;
            }
            &:nth-of-type(2){
              transition: .5s .1s;
            }
            &:nth-of-type(3){
              transition: .5s .19s;
            }
            &:nth-of-type(4){
              transition: .5s .27s;
            }
            &:nth-of-type(5){
              transition: .5s .34s;
            }
            &:nth-of-type(6){
              transition: .5s .4s;
            }
            &:nth-of-type(7){
              transition: .5s .45s;
            }
          }
        }
        .mask{
          width:100%;
          opacity:1;
        }
      }
    }
  }
}