html{
	overflow:hidden;
}
body{
	margin:0;
	padding:0;
	color:#3d3938;
	font-size:14px;
	overflow:hidden;
	font-family:Whitney,Helvetica,Arial,sans-serif;
}
.Header{
	position: fixed;
	width: 100%;
	z-index: 7;
}
h3,p,ul{padding: 0;margin: 0;}
h3{
	font-size: 32px;
	font-weight:normal;
	color:#3d3938;
	margin-bottom:2rem;
}
p{
	font-size: 16px;
	margin:.5rem 0;
}
.con{
	overflow:hidden;
	width:100%;
	height:100%;
	position:fixed;
}
.num_box{
	width:100%;
	height:100%;
	position:fixed;
	transform:translate3d(0px, 0px, 0px);
	transition:1s;
}
.num{
	height:100%;
}
.tool{
	position:fixed;
	top:50%;
	right:5%;
	z-index:10;
	margin-top:-80px;
	li{
		list-style:none;
		margin:1rem 0;
	}
}
.circle {
	display:block;
	width: 10px;
	height: 10px;
	background-color: #efefef; /* Can be set to transparent */
  border: 4px #00a2e1 solid;
	border-radius: 50%;
}
.noCircle {
	display:block;
	width: 10px;
	height: 10px;
	background-color: #d4d4d5; /* Can be set to transparent */
	border-radius: 50%;
	margin-left:3px;
}
#num0{
	background-image: url(../images/powerline/1.jpg?1);
	background-repeat:no-repeat;
  background-size: cover;
  >div{
  	margin:0 auto;
  	max-width:1200px;
  	position:relative;
  	height:100%;
  }
  .tips{
  	position: absolute;
		bottom:0;
		left:5%;
		h3{
			font-weight:normal;
			font-size: 32px;
			color:#ffffff;
			background:#00a7e1;
			margin-bottom:0;
			margin-top:20px;
			padding:5px 10px;
			border-radius:10px;
			display:inline-block;
			strong{
				display:inline-block;
			}
			span{
			}

		}
		p{
			font-size:48px;
			color:#ffffff;
		}
  }
}
.page0{
	#num0{
		.tips{
			bottom:50%;
			animation:mymove 2s;
			@keyframes mymove
			{
				from {bottom:0%;}
				to {bottom:50%;}
			}
	  }
	}
	
}
#num1{
	text-align: center;
	max-width:1200px;
	margin:0 auto;
	h3{
		margin-bottom:2rem;
	}
	.childNum{
		img{
			width:100%;
		}
		.childImg1{
			display:inline;
			width:75%;
		}
		.childImg2{
			display:none;
		}
	}
	.heard{
		padding:1rem 0 1.5rem 0;
	}
	.foot{
		padding:2rem 0;
	}
}
#num2 {
	text-align:center;
	background-color: #f3f3f3;
	div{
		position: relative;
	}
	
	.num3ImgList{
		display:block;
	}
	.num3ImgList1{
		display:none;
	}
	.divImg{
		display: inline-block;
		width: 20%;
		overflow:hidden;
		img{
			transition:.5s;
			width: 100%;
			z-index: 1;
		}
		img:hover{
			transform:scale(1.3);
			
		}
		.bgWhite{
			color:#ffffff;
		}
	}
	span{
		position: absolute;
		width:100%;
		z-index:2;
		top: 30px;
		font-size:1.2rem;
	}
	.num2div{
		width:auto;
		max-width:1200px;
		margin:0 auto;
		display: block;
		>div{
			position:absolute;
			top:50%;
			margin-top:-80px;
			width:100%;
		}
		h3{
			margin-bottom:2rem;
		}
	}
}
#num3{
	margin:0 auto;
	background-color: #f3f3f3;
	>div{
		max-width:1200px;
		margin:0 auto;
	}
	.num3Img{
		display:none;
	}
	.num3Contetn{
		position:relative;
		.img0{
			text-align:center;
			img{
				width:270px;
			}
		}
		.img1{
			position:absolute;
			top:0;
			right:9%;
			width:170px;
			img{
				width:170px;
				margin-top:0;
			}
		}
		.line1{
			border-top: 1px dashed #00a2e1;
	    height: 0;
	    position: absolute;
	    top: 15%;
	    right: 5%;
	    left: 50%;
	    margin-left: 190px;
	    margin-right: 213px;
		}
		.line2{
			border-right: 1px dashed #00a2e1;
			border-bottom: 1px dashed #00a2e1;
	    height: 40%;
	    position: absolute;
	    top: 15%;
	    width:117px;
	    right: 5%;
	    left: 50%;
	    margin-left: 70px;
	    margin-right: 265px;
		}
		.img2{
			position:absolute;
			top:50%;
			left:12%;
			width:170px;
			img{
				width:170px;
				float:right;
				margin-top:0;
			}
		}
		.line4{
			border-top:1px dashed #00a2e1;
			position:absolute;
			top:39%;
			right:50%;
			left:5%;
			margin-left:170px;
			margin-right:77px;
		}
		.line5{
			border-left:1px dashed #00a2e1;
			position:absolute;
			top:39%;
			height:56px;
			left:5%;
			margin-left:170px;
		}
		.img3{
			position:absolute;
			top:-10px;
			left:12%;
			width:170px;
			img{
				width:170px;
				float:right;
				margin-bottom:0;
			}
		}
		.line6{
			border-top:1px dashed #00a2e1;
			position:absolute;
			top:16%;
			right:50%;
			left:5%;
			margin-left:237px;
			margin-right:77px;
		}

	}
	.num3Heard{
		text-align:center;
		max-width:1200px;
		margin:0 auto;
		position:relative;
		.num3Tips{
			position:absolute;
			top:50%;
			margin-top:-34px;
			width:100%;
		}
	}
}
.page3{
	#num3{
		.line6{
			animation:myline6 1s;
			@keyframes myline6
			{
				from {margin-left:434px;}
				to {margin-left:237px;}
			}
		}
		.num3Img{
		}
		.img3{
			img{
				animation:myImg3 1.2s;
				@keyframes myImg3
				{
					0% {opacity:0}
					99% {opacity:0}
					100% {opacity:1}
				}
			}
		}
		.img2{
			img{
				animation:myImg2 3.4s;
				@keyframes myImg2
				{
					0% {opacity:0}
					99% {opacity:0}
					100% {opacity:1}
				}
			}
		}
		.img1{
			img{
				animation:myImg3 4.9s;
				@keyframes myImg3
				{
					0% {opacity:0}
					95% {opacity:0}
					100% {opacity:1}
				}
			}
		}
		.line4{
			animation:myline4 2.6s;
			@keyframes myline4
			{
				0% {margin-left:455px;}
				55% {margin-left:455px;}
				100% {margin-left:170px;}
			}
		}
		.line5{
			animation:myline5 3s;
			@keyframes myline5
			{
				0% {height:0px}
				95% {height:0px}
				100% {height:56px}
			}
		}
		.line2{
			animation:myline3 4.4s;
			@keyframes myline3
			{
				0% {height:0%;top:54.5%;width:0px;border-bottom:0}
				90% {height:0%;top:54.5%;width:0px;border-bottom:0}
				92% {height:0%;top:54.5%;width:100px;border-bottom:1px dashed #00a2e1}
				100% {height:40%;top:15%;width:100px;border-bottom:1px dashed #00a2e1}
			}
		}
		.line1{
			animation:myline1 4.6s;
			@keyframes myline1
			{
				0% {margin-right:355px}
				97% {margin-right:355px}
				100% {margin-right:213px}
			}
		}
	}
}
#num4{
	position: relative;
	background-image: url(../images/powerline/13.jpg?1);
	background-repeat:no-repeat;
  background-size: cover;
  >div{
  	height:100%;
  	position:relative;
  	margin:0 auto;
  	max-width:1200px;
  }
  .tips{
		position: absolute;
		bottom: 57%;
		left: 5%;
	}
	.tips1{
		margin-top:2rem;
		margin-bottom:.5rem;
		font-size:48px;
	}
	li,p,h3{
		color:white;
	}
}
.page4{
	#num4{
		.tips{
				animation:mymove4 2s;
		}
		@keyframes mymove4
			{
			from {bottom:0%;}
			to {bottom:57%;}
		}
	}
}
#num5{
  position:relative;
  background-image: url(../images/powerline/14.jpg?1);
  background-repeat:no-repeat;
  background-size: cover;
  >div{
  	margin:0 auto;
  	max-width:1200px;
  	position:relative;
  	height:100%;
  }
  .numdiv{
  	height:100%;
  	position:relative;
  	margin:0 auto;
  	max-width:1200px;
  }
  .tips{
  	position:absolute;
  	bottom:15%;
  	right:0%;
  }
  img{
  	width:100%;
  }
  li{
  	color:#3d3938;
  }
}
.page5{
	.tips{
  	animation:mymove5 2s;
  }
  @keyframes mymove5
	{
		from {bottom:0%;}
		to {bottom:15%;}
	}
}
#num6{
	background-image: url(../images/powerline/15.jpg?1);
	background-repeat:no-repeat;
  background-size: cover;
  position:relative;
  >div{
  	margin:0 auto;
  	max-width:1200px;
  	position:relative;
  	height:100%;
  }
  h3,p{
  	color:#ffffff;
  }
  .tips{
  	position:absolute;
  	bottom:70%;
  	left:5%;
  	li{
  		color:#ffffff;
  	}
  }
  imag{
  	width:100%;
  }
}
.page6{
	.tips{
		animation:mymove6 2s;
	}
	@keyframes mymove6
	{
		from {bottom:0%;}
		to {bottom:70%;}
	}
}
#num7{
	text-align: center;
	max-width:1200px;
	margin:0 auto;
	overflow:hidden;
	.head{
		background-color:#00a2e1;
		line-height:3rem;
		color:white;
		font-size:36px;
		margin-top:1rem;
	}
	.foot,.foot1{
		a{
			display:inline-block;
			border:1px solid #00a2e1;
			color:#00a2e1;
			padding:1rem 4rem;
			cursor:pointer;
		}
		.select{
			 background-color:#00a2e1;
			 color:white;
		}
	}
	.foot1{
		display:none;
	}
	.num7M{
		display:none;
	}
	.num7Pc{
		display:block;
	}
	#num7Img{
		img{width:70%}
	}
	#img1{
		/*width:70%;*/
	}
}
#num8,#num9{
	max-width:1200px;
	margin:0 auto;
	text-align:center;
	.head{
		line-height:3rem;
		font-size:36px;
		img{
			vertical-align:middle;
			margin-right:1rem;
		}
	}
	.img{
		img{
			width:90%;
		}
	}
	.color{
		margin:1rem 0;
		img{
			width:1.2rem;
			height:.7rem;
			margin-right:.5rem;
		}
	}
	.name{
		color:#111111;
		font-size:1.2rem;
	}
	.desc{
		margin:2rem 0;
	}
	.btn{
		margin:1rem;
		a{
			display:block;
			background-color:#00a2e1;
			line-height:2.5rem;
			color:white;
			text-decoration:none;
		}
	}
	li{
		box-sizing: border-box;
		padding: 0 8px;
		list-style:none;
		width:25%;
		display:inline-block;
		text-align:center;
		>div{
			position: relative;
			border:1px solid #e8e9e9;
			margin:0 10px;
		}
		.line{
	    transition: all 0.5s;
			position: absolute;
			left: 50%;
	    width: 0px;
			height: 2px;
			background: #00a2e1;
		}
		>div:hover{
			.line{
				left: 0;
				width: 100%;
			}
			/*border-top:2px solid #00a2e1;*/
		}
	}
	ul{
		padding-bottom:3rem;
	}
}
li{
	margin:.5rem 0;
	color:#9e9f9f;
	font-size:16px;
}
.num{
    position: relative;
}
.hide{
	display:none;
}

.WSCSlideWrapper{
        width: 420px;
        position: relative;
        overflow: hidden;
    }
    .WSCSlide{
        width: 1680px;
        overflow:hidden;
        height: 100%;
        font-size: 0;
        position: absolute;
        -webkit-transform:translate3d(0,0,0);
    }
    .WSCSlideTransition{
        -webkit-transition: all 0.5s 0s ease-in-out;
    }
    .WSCSlide_img{
        display:inline-block;
        overflow:hidden;
        height:320px;
        img{
        	width:210px;
        }
        .bgWhite{
        	color:white;
        }
    }
@media screen and (max-width: 1024px) {
	.tool{
		display:none;
	}
	#num3{
		text-align:center;
		.num3Img{
			display:inline;
		}
		.num3Contetn{
			display:none;
		}
	}
	#num7{
		.num7Img{
			img{
				width:98%;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.tool{
		display:none;
	}
	.WSCSlide_img{
		height:100%;
	}
	#num0{
		background-image:url(../images/powerline/1_p.jpg?1);
		.tips{
			text-align:center;
			bottom:73%;
			left:50%;
			margin-left:-165px;
			h3{
				font-size:18px;
			}
			p{
				font-size:36px;
			}
		}
	}
	.page0{
		#num0{
			.tips{
				bottom:73%;
			}
			@keyframes mymove
			{
				from {bottom:0%;}
				to {bottom:73%;}
			}
		}
	}
	#num1{
		 .heard{
		 		padding:5rem 0 5rem 0;
		 		p{
		 			margin:0.5rem 16px;
		 		}
		 }
		 .foot{
		 		padding:5rem 0;
		 }
	}
	#num2 {
			overflow:hidden;
			span{
				font-size:14px;
				width:auto;
				left:50%;
				margin-left:-90px;
			}
			.num2div{
				>div{
					width:auto;
					padding:0 16px;
				}
			}
			.num3ImgList{
				display:none;
			}
			.num3ImgList1{
				display:block;
			}
		}
		.page3{
			#num3{
				.num3Contetn{
					display:none;
				}
			}
		}
	#num3{
		text-align:center;
		.num3Contetn{
			display:none;
		}
		.num3Img{
			width:65%;
			display:inline;
		}
		p{
			margin:0 16px;
		}
	}
	#num4{
		background-image: url(../images/powerline/13_p.jpg?1);
	}
	#num4,#num6{
		.tips{
			left:5%;
		}
	}
	#num6{
		background-image: url(../images/powerline/15_p.jpg?1);
	}
	#num5{
		background-image: url(../images/powerline/14_p.jpg?1);
		li{
			margin:0 16px;
			width:75%;
		}
		.tips{
			bottom:30%;
			left:5%;
			right:auto;
		}
		@keyframes mymove5
	{
		from {bottom:0%;}
		to {bottom:30%;}
	}
	}
	#num7{
		#num7Img{
			img{
				width:96%;
			}
		}
		.num7Img{
			margin:16px;
		}
	}
	#num8{
		.head{
			font-size:28px;
			margin-top:1rem;
			img{
				width:38px;
				vertical-align:top;
			}
		}
		.img{
			img{
				width:85%;
			}
		}
		li{
			width:50%;
		}
		.name{
			font-size:14px;
		}
		.desc{
			font-size:14px;
			display:none;
		}
		.btn{
			margin:.5rem;
			a{
				line-height:2rem;
				font-size:14px;
			}
		}
		.color{
			height:.5rem;
		}
	}
	.WSCSlide_img{
		img{
			width:300px;
		}
	}
}
@media screen and (max-width: 414px) {
	h3{
		font-size:32px;
	}
	p{
		font-size:14px;
	}
	li{
		font-size:14px;
	}
	.WSCSlide_img{
		img{
			width:210px;
		}
	}
	#num0{
		background-image: url(../images/powerline/1_m.jpg);	
		background-size:100% 100%;
		.tips{
			bottom:0;
			h3{
				font-size:16px
			}
			p{
				margin:0 1rem;
				font-size:32px
			}
		}
	}
	.page0{
		#num0{
			
			.tips{
				animation:mymove 2s;
				@keyframes mymove
				{
					from {bottom:0%;}
					to {bottom:73%;}
				}
		  }
		}	
}
	#num1{
		padding:0 16px;
		.heard{
			padding:0rem 0 1.5rem 0
		}
		h3{
			padding:1.5rem 0;
			margin-bottom:0;
		}
		.childNum{
			.childImg1{
				display:none;
			}
			.childImg2{
				display:inline;
				width:80%;
			}
		}
		.foot{
			padding:1rem 0;
		}
		p{
			font-size:14px;
		}
	}
	
	
	#num4{
		background-image: url(../images/powerline/13_m.jpg?1);
		.tips{
			margin:0 16px 0 25px;
			bottom:40%;
		}
		.tips1{
			font-size:32px;
		}
	}
	.page4{
		#num4{
			@keyframes mymove4
				{
				from {bottom:0%;}
				to {bottom:40%;}
			}
		}
	}
	#num5{
		background-image: url(../images/powerline/14_m.png?1);
		.tips{
			margin:0 16px 0 32px;
			bottom:20%;
		}
		h3{
			margin-bottom:0;
			width:50%;
		}
		li{
			width:60%;
		}
	}
	page5{
		#num5{
			@keyframes mymove5
				{
				from {bottom:0%;}
				to {bottom:20%;}
			}
		}
	}
	#num6{
		background-image: url(../images/powerline/15_m.jpg?1);
		.tips{
			margin:0 16px 0 30px;
			bottom:61%;
		}
	}
	.page{
		#num6{
			@keyframes mymove6
				{
				from {bottom:0%;}
				to {bottom:61%;}
			}
		}
	}
	#num7{
		padding-top:0px;
		.foot{
			display:none;
		}
		.foot1{
			display:block;
			text-align:center;
			a{
				width:31%;
				padding:1rem 0;
			}
		}
		.head{
			font-size: 28px;
		}
		.num7M{
			margin:30px 0;
			display:block;
			img{
				width:75%;
			}
		}
		.num7Pc{
			display:none;
		}
	}
	#num2 {
			overflow:hidden;
			span{
				font-size:14px;
				width:auto;
				left:50%;
				margin-left:-90px;
			}
			.num2div{
				>div{
					width:auto;
					padding:0 16px;
				}
			}
			.num3ImgList{
				display:none;
			}
			.num3ImgList1{
				display:block;
			}
		}
		.page3{
			#num3{
				.num3Contetn{
					display:none;
				}
			}
		}
	#num3{
		text-align:center;
		.num3Contetn{
			display:none;
		}
		.num3Img{
			width:70%;
		}
		p{
			margin:0 16px;
		}
	}
	#num8{
		.head{
			font-size:28px;
			margin-top:1rem;
			img{
				width:38px;
				vertical-align:top;
			}
		}
		li{
			width:50%;
		}
		.name{
			font-size:14px;
		}
		.desc{
			font-size:14px;
			display:none;
		}
		.btn{
			margin:.5rem;
			a{
				line-height:2rem;
				font-size:14px;
			}
		}
		.color{
			height:.5rem;
		}
	}
}


@media screen and (max-width: 375px) {
	#num0{
		.tips{
			p{
				font-size:32px;
			}
			h3{
				font-size:16px;
			}
		}
	}
	#num3{
		.num3Img{
			width:73%;
			margin-top:12px;
		}
	}
	#num1{
		.childNum{
			.childImg2{
				width:75%;
			}
		}
	}
	#num5{
	}
	#num7{
		.foot{
			display:none;
		}
		.foot1{
			display:block;
			text-align:center;
			a{
				width:31%;
				padding:1rem 0;
			}
		}
		.head{
			font-size: 25px;
		}
		.num7M{
			display:block;
			img{
				width:75%;
			}
		}
	}
	#num8{
		.color{
			img{
				width:1rem;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	#num0{
		.tips{
			h3{
				font-size:31px;
				margin:0 1rem;
			}
			p{
			  font-size:22px;
				margin:0 1rem;
			}
		}
	}
	#num1{
		h3{
			padding:.5rem 0;
		}
		.childNum{
			.childImg2{
				width:70%;
			}
		}
	}
	#num3{
		.num3Img{
			width:70%;
			margin-top:0;
		}
	}
	#num7{
		.head{
			font-size:21px;
		}
		.num7M{
			margin-top:10px;
			img{
				width:75%;
			}
		}
		.foot1{
			margin-top:1rem;
		}
	}
	.WSCSlide_img{
        img{
        }
    }
}