
body{
	margin:0;
	padding:0;
	color:#3d3938;
	font-size:14px;
	font-family:Whitney,Helvetica,Arial,sans-serif;
}
.powerhouse{
	background-color:#3d3938;
	.banner{
		position:relative;
		img{
			width:100%;
			display:block;
		}
		.homeTips{
			position:absolute;
			top:0;
			bottom:0;
			width:100%;
			.or{
				margin-top:1rem;
				margin-right:1rem;
				i{
					border-bottom: 1px solid #9e9f9f;
			    vertical-align: middle;
			    padding: 0;
			    height: 0;
			    overflow: hidden;
			    display: inline-block;
			    width: 47%;
				}
				span{
					width: 6%;
   				display: inline-block;
   				text-align:center;
				}
			}
			>div{
				max-width:1200px;
				margin:0 auto;
				height:100%;
				>div{
					max-width:485px;
					height:100%;
					background-color:rgba(0,0,0,0.7);
					padding:5rem 0 2rem 1.5rem;
					color:white;
					box-sizing:border-box;
					.pt6{
						margin-top:6rem;
						i{
							margin-right:1rem;
						}
					}
					h3{
						font-size:36px;
						margin:0;
						padding:0;
						font-weight:normal;
					}
					.iconfont{
						font-size:2.2rem;
					}
					.login{
						margin-top:1rem;
						.input{
							width:16rem;
							height:2rem;
							padding:0 1rem;
							border-radius:6px;
							border:1px solid white;
							font-size:14px;
							background-color:rgba(255,255,255,0)
						}
						
						.btn{
							display:inline-block;
							position:relative;
							background-color:white;
							margin-left:1rem;
							width:180px;
							border-radius:6px;
							cursor:pointer;
							.lock{
								background-color:#00a8de;
								position:absolute;
								line-height:2.3rem;
								display:inline-block;
								width:2.3rem;
								text-align:center;
								top:0;
								left:0;
								transition:1s;
								border-radius:6px;
							}
							a{
								line-height:2.3rem;
								color:black;
								display:inline-block;
								margin-left:2.3rem;
								margin-right:2.3rem;
								padding: 0 .5rem;
							}
						}
					}
					p{
						font-size:18px;
						width:400px;
						line-height:1.4rem;
						margin:0;
						padding:0;
					}

					ul,li{
						margin:0 0 0 .5rem;
						padding:0;
						font-size:18px;
						strong{
							color:#00a8de;
							font-weight:normal;
						}
					}
					ul{
						margin-top:1rem;
					}
					.otherLogin{
						margin:1rem 0;
						text-align:left;
						.sharebtn{
							color:white;
							background-color:#52a8e9;
							line-height:2.4rem;
							display:inline-block;
							padding: 0 1rem;
							margin-right:2.5rem;
							border-radius:5px;
						}
						.facebook{
							background-color:#3b5898;
						}
						.google{
							background-color:#e14929;
							i{
								font-size:1.8rem;
							}
						}
						.iconfont{
							padding:0.5rem;
							font-size:1.5rem;
						}
					}
				}
			}
			
		}
	}
	.page1{
		background-color:white;
		.time{
			background-color:#f2f2f2;
			h3{
				margin:0;
				padding:0 0 .5rem 0;
			}
			>div{
				max-width:1000px;
				margin:3rem auto 0 auto;
				padding:4rem 0;
			}
		}
		.countdown{
			width:50%;
			display:inline-block;
			vertical-align:middle;
			>div{
				display:inline-block;
				margin-right:3.33%;
				width:30%;
				text-align:center;
				div:first-child{
					background-color:#00a2e1;
					color:white;
					line-height:4rem;
					font-size:3rem;
				}
				div:last-child{
					background-color:white;
					line-height:2rem;
					font-size:14px;
				}
			}
		}
	}
	.banner1{
		position:relative;
		img{
			width:100%;
			display:block;
		}
	}
	.userTips{
		text-align:center;
		top:0;
		margin:0 auto;
		width:100%;
		bottom:0;
		position:absolute;
		>div{
			max-width:1200px;
			margin:0 auto;
			height:100%;
			>div{
				max-width:485px;
				height:100%;
				background-color:rgba(0,0,0,0.5);
				padding:5rem 0 2rem 0;
				color:white;
				box-sizing:border-box;
			}
		}
		.input{
			width:32rem;
			height:2rem;
			margin-top:3rem;
			background-color:rgba(0,0,0,0.8);
			border-radius:6px;
			border:1px solid white;
		}
		.share{
			margin-top:1rem;
			text-align:center;
			.sharebtn{
				color:white;
				background-color:#52a8e9;
				line-height:2.4rem;
				display:inline-block;
				padding: 0 .5rem;
				margin-right:.5rem;
				border-radius:5px;
			}
			.facebook{
				background-color:#3b5898;
			}
			.google{
				background-color:#e14929;
			}
			.iconfont{
				font-size:1.5rem;
			}
		}
		h3{
			font-size:18px;
			color:#00a2e1;
			margin:0;
			padding-bottom:.5rem;
			font-weight:normal;
		}
		h4{
			font-size:36px;
			color:white;
			margin:0;
			padding:0;
		}
		p{
			font-size:1.2rem;
			margin:0;
			padding:.2rem;
		}
	}
	.registcount{
		padding-top:1rem;
		height:20rem;
		.title{
			text-align:center;
			font-size:18px;
		}
		>div{
			max-width:1000px;
			margin:6rem auto;
			position:relative;
			font-size:18px;
			.setup{
				background-color:#d4d8de;
				height:.5rem;
				overflow:hidden;
				.line{
					background-color:#00a8de;
					height:.5rem;
					width:0%;
				}
			}
			.index{
				position:absolute;
				text-align:left;
				font-size:14px;
				>div:first-child{
					width:2rem;
					height:2rem;
					line-height:2rem;
					border-radius:1rem;
					display:inline-block;
					background-color:#d4d8de;
					text-align:center;
				}
				&:hover{
					img{
						display:inline;
					}
				}
				>div:nth-child(2){
					margin-top:2rem;
					margin-left:-1rem;
				}
				img{
					position:absolute;
					left:-3rem;
					top:-2.7rem;
					width:11.25rem;
					border-radius:5.85rem;
					border:2px solid #d4d8de;
					display:none;
				}
			}
			.on{
				color:#00a8de;
				>div:first-child{
					background-color:#00a8de;
					color:white;
				}
				>div:last-child{
					color:#00a8de;
				}
			}
			.index3{
				margin-left:-3rem;
			}
			>div{
				top:-2.5rem;
				margin-left:-1rem;
				&:nth-child(2){
					left:25%;
				}
				&:nth-child(3){
					left:50%;
				}
				&:nth-child(4){
					left:75%;
				}
				&:nth-child(5){
					left:100%;
				}
			}
		.start{
			left:0;
			top:-2rem;
			position:absolute;
			div:last-child{
				margin-top:2.3rem;
			}
		}
		}
		.noDate{
			text-align:center;
			margin:7rem auto;
			p{
				margin:0;
				padding:.2rem;
				font-size:14px;
			}
			.col,.dataCount1{
				color:#00a2e1;
			}
		}
	}
	.rule{
		display:inline-block;
		vertical-align:middle;
		width:45%;
		border-left:1px solid #d4d8de;
		padding-left:3rem;
		h3{
			font-size:18px;
			margin-top:0;
		}
		ul,li{
			margin:0;
			padding:0;
		}
		li{
			padding:.2rem 0;
		}
	}

	@media only screen and (max-width: 1024px){
		.banner{
			.homeTips{
				position:relative;
				>div{
					background-color:white;
					>div{
						background-color:white;
						color:black;
						padding:1rem;
						h4{
							font-size:14px;
						}
						h3{
							font-size:24px;
						}
						p,li{
							font-size:14px;
						}
						.login{
							display:flex;
							.input{
								border:1px solid black;
								width:13rem;
							}
							.btn{
								border:1px solid black;
								a{
									line-height:2rem;
								}
								.lock{
									line-height:2rem;
								}
							}
						}
						.pt6{
							margin-top:1rem;
						}
					}
				}
			}
		}
		.userTips{
			margin:0 .5rem;
			position:relative;
			>div{
				>div{
					margin:0 auto;
					background-color:white;
					color:black;
					padding:0;
				}
			}
			h4{
				font-size:28px;
				color:black;
				margin-top:1rem;
			}
			h3{
				font-size:16px;
			}
			p{
				font-size:14px;
			}
			.input{
				width:1000%;
				background-color:rgba(0,0,0,0);
				border:1px solid #d4d8de;
			}
			.invitation{
				display:flex;
				width:270px;
				margin:0 auto;
			}
			.tips1{
				width:270px;
				margin:0 auto;
			}
			.share{
				width:270px;
				margin:3rem auto;
				margin-bottom:1rem;
				.sharebtn{
					display:block;
				}
				.facebook{
					margin-bottom:.5rem;
				}
				.google{
					margin-top:.5rem;
				}
			}
		}
		.registcount{
			height:auto;
			.noDate{
				margin:3rem auto;
				padding-bottom:3rem;
			}
			>div{
				text-align:center;
				margin:3rem auto;
				.setup{
					display:inline-block;
					height:400px;
					width:.5rem;
					margin-left:0;
					.line{
						width:.5rem;
						height:0;
					}
				}
				.index{
					width:100%;
					margin-top:-1rem;
					>div:first-child{
						display:inline-block;
						margin-left:48%;
						vertical-align: top;
					}
					>div:nth-child(2){
						display:inline-block;
						margin-left:2rem;
						vertical-align: top;
						margin-top:0;
						line-height:28px;
					}
				}
				.index3{
					margin-left:-1rem;
				}
				>div{
					top:-2.5rem;
					margin-left:-1rem;
					&:nth-child(2){
						top:100px;
						left:0;
					}
					&:nth-child(3){
						top:200px;
						left:0;
					}
					&:nth-child(4){
						top:300px;
						left:0;
					}
					&:nth-child(5){
						top:400px;
						left:0;
					}
				}
				.start{
					width:100%;
					top:0;
					font-size:14px;
					div{
						display:inline-block;
						vertical-align: top;
					}
					div:first-child{
						margin-left:8%;
					}
					div:last-child{
						vertical-align: top;
						margin-top:0;
						margin-left:2rem;
					}
					span{
						display:block;
					}
				}
			}
		}
		.rule{
			padding:0 .5rem;
			display:block;
			width:auto;
			border-left:0;
			ul{
				margin-left:1rem;
			}
		}
		.page1{
			.countdown{
				width:100%;
				display:block;
				margin: 3rem auto;
			}
		}
	}
	@media only screen and (max-width: 414px){
	.banner{
			.homeTips{
				>div{
					>div{
						.login{
							display:block;
							.input{
								width:100%;
								box-sizing:border-box;
							}
							.btn{
								margin-left:0;
								margin-top:1rem;
							}
						}
						.otherLogin{
							.sharebtn{
								display:block;
								text-align:center;
								margin-right:0;
							}
							.facebook{
								margin-bottom:1rem;
							}
						}
					}
				}
			}
		}
		.registcount{
			>div{
				text-align:center;
				margin:3rem auto;
				.setup{
					display:inline-block;
					height:400px;
					width:.5rem;
					margin-left:0;
					.line{
						width:.5rem;
						height:0;
					}
				}
				.index{
					width:100%;
					margin-top:-1rem;
					>div:first-child{
						display:inline-block;
						margin-left:43%;
						vertical-align: top;
					}
					>div:nth-child(2){
						display:inline-block;
						margin-left:2rem;
						vertical-align: top;
						margin-top:0;
						line-height:28px;
					}
				}
				.start{
					width:100%;
					top:0;
					font-size:14px;
					div{
						display:inline-block;
						vertical-align: top;
					}
					div:first-child{
						margin-left:10%;
					}
					div:last-child{
						vertical-align: top;
						margin-top:0;
						margin-left:2rem;
					}
					span{
						display:block;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 375px){
		.banner{
			.homeTips{
				>div{
					>div{
						.login{
							.input{
								width:auto;
							}
						}
					}
				}
			}
		}
	}
}
