
body{
	margin:0;
	padding:0;
	color:#3d3938;
	font-size:14px;
	font-family:Whitney,Helvetica,Arial,sans-serif;
}
.country {
  position:fixed;
  z-index:101;
  top:0;
  left:0;
  height:0;
  width:100%;
  .module-container{
    position:relative;
    margin:0 auto;
    max-width:1200px;
    ul{
      position:relative;
      right:1rem;
      float:right;
      top:3rem;
      @media only screen and (max-width: 767px) {
        top:1rem;
      }
      right:1rem;
      margin:0;
      background-color:#07a7e3;
      color:white;
      padding:0;
      height:2rem;
      overflow:hidden;
      transition:200ms;
      padding-right:.5rem;
      cursor:pointer;
      li{
        list-style:none;
        width:5rem;
        text-align:center;
        line-height:2rem;
        font-size:1.5rem;
        a{
          color:white;
        }
      }
      &:after{
        content:'';
        display:block;
        position:absolute;
        top:.6rem;
        right:.5rem;
        height:0;
        width:0;
        line-height:0;
        overflow:hidden;
        border:solid transparent;
        border-width:.6rem .3rem 0 .3rem;
        border-top-color:white;
        transition:500ms;
      }
      &:hover{
        height:4rem;
        &:after{
          transform:rotate(180deg);
        }
      }
    }
  }
}
.swap{
	.banner{
		position:relative;
		.bannerTips{
			position:absolute;
			width:100%;
			top:6rem;
			text-align:center;
			margin-top:2rem;
			h3{
				font-size:48px;
				font-weight:normal;
				padding:.5rem 0;
				margin:0;
			}
			p{
				font-size:32px;
				margin:.5rem 0;
				padding:0;
				color:#3F413F;
			}
		}
		img{
			width:100%;
		}
	}
	.background{
		position:relative;
		margin-top:-4px;
		background-image:url(/deals/images/powerline_swap/video.jpg);
		background-repeat:repeat;
		background-position:left;
		height:650px;
		.videoDiv{
			position:absolute;
			width:900px;
			top:1%;
			left:50%;
			margin-left:-450px;
			text-align:center;
			.videoTips{
				margin-bottom:2rem;
				h3{
					font-size:32px;
					font-weight:normal;
					margin:2.5rem 0 1.5rem 0;
					padding:0;
				}
				p{
					font-size:1.2rem;
					margin:.5rem 0;
					padding:0;
					color:#3F413F;
				}
			}
			a{
				text-decoration:underline;
				color:#00a2e1;
			}
		}
		img{
			width:100%;
		}
	}
	.login{
		max-width:1000px;
		margin:0 auto;
		padding:2rem 0 4rem 0;
		.left{
			display:inline-block;
			width:47%;
			padding-right:10%;
			vertical-align:middle;
			border-right:1px solid #878F84;
			li{
				margin:.5rem 0;
				font-size:1.2rem;
			}
			h3{
				font-size:32px;
				font-weight:normal;
			}
			.countdown{
				>div{
					display:inline-block;
					margin-right:3.33%;
					width:30%;
					text-align:center;
					div:first-child{
						background-color:#00a2e1;
						color:white;
						line-height:4rem;
						font-size:3rem;
					}
					div:last-child{
						background-color:white;
						line-height:2rem;
					}
				}
			}
		}
		.right{
			display:inline-block;
			padding-left:2%;
			margin-top:2rem;
			vertical-align:middle;
			width:40%;
			font-size:1.2rem;
			.one{
				span{
					margin:0 .5rem;
				}
			}
			.two{
				margin:3rem 0;
				select{
					width:100%;
					margin-top:.5rem;
				}
			}
			.three{
				margin:3rem 0;
			}
			.share{
				text-align:center;
				margin-top:.5rem;
				>div{
					display:inline-block;
					width:30%;
					background-color:#00a2e1;
					border-radius:10px;
					cursor:pointer;
					&:first-child{
						margin-right:5%;
					}
					&:last-child{
						margin-left:5%;
					}
				}
				a{
					text-decoration:none;
					display:block;
				}
				.iconfont{
					color:white;
					font-size:1.5rem;
				}
			}
			.four{
				margin-top:2rem;
				>div:last-child{
					text-align:center;
				}
				input{
					margin-top:.5rem;
					width:100%;
					background-color:#878F84;
					color:white;
					border-radius:10px;
					border:0;
					height:2rem;
				}
			}
			.btn{
				background-color:#878F84;
				border:0;
				color:white;
				height:2.4rem;
				width:8rem;
				margin-right:1rem;
			}
			.messagebtnList{
				text-align:right;
				margin-top:.5rem;
			}
			p{
				margin:0;
				padding:0;
				color:#3F413F;
			}
			a{
				color:#3F413F;
				text-decoration:underline;
			}
		}
	}
	.itemList{
		max-width:1000px;
		margin:4rem auto;
		.itemListTips{
			text-align:center;
			display:block;
			width:auto;
			h3{
				font-size:32px;
				padding:0;
				margin:.5rem 0;
				font-weight:bold;
			}
			p{
				font-size:1.2rem;
				padding:0;
				margin:0;
			}
		}
		>div{
			width:45%;
			display:inline-block;
			overflow:hidden;
			text-align:center;
			padding:.5rem;
			box-sizing:border-box;
			.colorList{
				text-align:center;
				margin:1rem 0;
				div{
					display:inline-block;
					border:1px solid;
					width:1rem;
					height:.4rem;
					margin-top:.5rem;
					margin-right:.5rem;
				}
			}
			.container{
				position:relative;
				border:2px solid #f1f1f1;
				box-shadow:3px 3px 3px #eeeeee;
			}
			.subject{
				font-size:32px;
			}
			.itemImg{
				display:inline-block;
				margin-left:2.5rem;
				img{
					width:150px;
					margin-right:.5rem;
				}
			}
			.info{
				display:inline-block;
				max-width:160px;
				text-align:left;
				margin-right:1.5rem;
				margin-top:1rem;
			}
			.name{
				font-size:1.2rem;
				color:#3F413F;
			}
			ul{
				overflow:hidden;
				width:5000px;
				transform:translate3d(-0px,0px,0px);
				transition:1s;
			}
			li{
				float:left;
				list-style:none;
				width:430px;
				height:200px;
				text-align:left;
			}
			h3{
				font-weight:normal;
			}
			.btn{
				background-color:#00a2e1;
				text-align:center;
				color:white;
				a{
					display:block;
					padding:.5rem 1rem;
					color:white;
				}
			}
			.up{
				position:absolute;
				cursor:pointer;
				margin-top:-35px;
				top:50%;
				left:.5rem;
			}
			.down{
				position:absolute;
				top:50%;
				cursor:pointer;
				margin-top:-35px;
				right:.5rem;
			}
			.iconfont{
				font-size:4rem;
			}
		}
		.empty{
			width:10%;
			display:inline-block;
		}
	}
	ul,li{
		margin:0;
		padding:0;
	}
	p{
	}
	h3{
		color:#3F413F;
	}
	@media only screen and (max-width: 1024px){
		background{
			background-image:none;
		}
	}
	@media only screen and (max-width: 768px){
		.banner{
			.bannerTips{
				top:0;
				margin-top:1rem;
				box-sizing:border-box;
				padding: 0 1rem;
				h3{
					font-size:20px;
				}
				p{
					font-size:14px;
				}
			}
		}
		.background{
			background-image:none;
			.videoDiv{
				width:100%;
				left:0;
				margin-left:0;
				.videoTips{
					padding:0 1rem;
					h3{
						font-size:20px;
					}
					p{
						font-size:14px;
					}
				}
				iframe{
					width:310px;
					height:175px;
				}
			}
		}
		.login{
			.left{
				display:block;
				padding-right:0;
				margin:0 1rem;
				width:auto;
				border-right:0;
				url{
					margin-left:1rem;
				}
				li{
					font-size:14px;
				}
				h3{
					font-size:20px;
				}
			}
			.right{
				padding-left:0px;
				display:block;
				margin:2rem 1rem 0 1rem;
				width:auto;
				
			}
		}
		.itemList{
			.itemListTips{
				h3{
					font-size:20px;
				}
				p{
					font-size:14px;
				}
			}
			>div{
				width:auto;
				display:block;
				li{
					height:160px;
					margin:0;
				}
				.name{
					font-size:14px;
				}
				.itemImg{
					margin-left:.5rem;
					img{
						width:100px;
					}
				}
				.info{
					margin-top:2rem;
				}
				.up{
					left:0;
				}
				.down{
					right:0;
				}
			}
		}
		ul,li{
			margin:0 1rem;
		}
	}
}