
body{
	margin:0;
	padding:0;
	color:#3d3938;
	font-size:14px;
	font-family:Whitney,Helvetica,Arial,sans-serif;
}
$gray-dark: #3d3938;
$gray: #9e9f9f;
$gray-light: #eeeeee;
$gray-sub: #98a3ad;
$blue: #00a7e1;
$amazon-yellow: #fab23a;
$gray-light: #eeeeee;
$input-height: 2.3rem;
.iconfont{
	display: inline-block;
}
.pu-deal{
	max-width: 1200px;
	margin: 0 auto;
	// background-color:#3d3938;
	.banner{
		position:relative;
		.img{
			width:100%;
			vertical-align: top;
		}
		.text{
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 510px;
	    padding: 24px 40px;
	    background: rgba(152, 163, 173, 0.7);
	    color: #FFF;
	    font-size: 14px;
			p {
				 margin: 10px 0;
			}
			@media only screen and (min-width: 1381px){
				min-height: 40%;
				width: 40%;
			}
			@media only screen and (max-width: 860px){
		    display: none;
			}
		}
		h2{
			margin: 0 0 5px;
	    color: white;
	    font-size: 2.3rem;
		}
	}
	.mob-banner{
		display: none;
    overflow: hidden;
		&.expand{
			.show{display: none;}
			.hide{display: inline-block;}
		}
    h3{
      background: $blue;
      color: #FFF;
      line-height: 2em;
      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      .iconfont{
		    height: 16px;
				line-height: 1.3;
		    overflow: hidden;
        margin-right: 10px;
        border: 1px solid #FFF;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
				vertical-align: -4px;
      }
    }
		.show{display: inline-block;}
		.hide{display: none}
		.info{padding: 0 10px;}
    p{
      margin: 10px 0;
    }
		@media only screen and (max-width: 860px){
			display: block;
		}
  }
	.sub-banner{
		background: #d8765d;
		color: #FFF;
		* {font-size: 16px;}
		text-align: center;
		h2{
			display: inline-block;
			padding: 0 6%;
		}
		@media only screen and (max-width: 860px){
			* {font-size: 14px;}
		}
	}
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom: 1;}
.module-items{
	position:relative;
	overflow:hidden;
	min-height:200px;
	.wraper{
		list-style-type:none;
		margin:0 -1% 0 0;
		padding: 0 10px 100px;
		@media only screen and (max-width: 768px){
			margin-right: -2%;
		}
	}
	.box{
		position:relative;
		float:left;
		box-sizing: border-box;
		overflow:hidden;
		width: 24%;
    min-height: 506px;
		margin:40px 1% 0 0;
		color:$gray;
		@media only screen and (max-width: 768px){
			width:48%;
			min-height: 542px;
			margin-right:2%;
		}
		@media only screen and (max-width: 489px){
			width:98%;
			min-height: 0;
			margin-right:2%;
		}
	}
	.item{
		cursor:pointer;
		border:1px solid $gray-light;
		text-decoration:none;
		position:relative;
		overflow:hidden;
		a{text-decoration: none;color:#444;}
		.attr {
			padding-top:10px;
			text-align:center;
			.color{
				display:inline-block;
				margin:0;
				padding:0;
				li{
					list-style:none;
					margin:0 3px;
					float:left;
					img{
						height:12px;
					}
				}
			}
		}
		.image{
			position:relative;
			text-align:center;
			overflow:hidden;
			img{
				max-width:100%;
				max-height:100%;
			}
		}
		.available{
			position:absolute;
			top:50%;
			left:50%;
			margin-left: -12px;
			margin-top: -12px;
			width: 12px;
			height: 12px;
			background: rgba(87, 87, 87, .6);
			color: white;
			font-size: 12px;
			line-height: 12px;
			border-radius:50%;
			z-index:1;
			display: block;
			align-items:center;
			text-align:center;
			pointer-events:none;
		}
		.title{
			font-size:1.2rem;
			line-height:1.5rem;
			height:3rem;
			overflow:hidden;
			margin:.6rem;
			text-align:center;
			color:$gray-dark;
		}
		.description{
			font-size:1rem;
			line-height:1rem;
			height:3rem;
			overflow:hidden;
			margin:0 .6rem 1rem;
			text-align:center;
			color:$gray;
		}
		@media only screen and (max-width: 768px){
			.description{
				display:none;
			}
		}
		.border{
			position:absolute;
			top:-1px;
			left:50%;
			z-index: 9;
			width:0;
			height:3px;
			overflow:hidden;
			background:$blue;
			transition:200ms;
		}
		&:hover{
			.border{
				left:0;
				width:100%;
			}
		}
	}
	.pre-hide{display: none;}
	.price{
		padding-bottom: 10px;
		text-align:center;
		p{margin:0;display: inline-block;}
		font-size: 1.2rem;
		.original{
			padding-left: 1rem;
			color: $gray;
			text-decoration:line-through;
		}
		.paid{
			color: $blue;
		}
	}
	.ends{margin: 0 0 10px;text-align: center;}
	.discount{
		position: absolute;
		top: 20px;
		right: 20px;
		border: 1px solid #50C5E8;
		color: #00A2E0;
		text-align: center;
		border-radius: 50%;
		padding: 8px;
    font-size: 14px;
		i{
			display: block;
			font-style: normal;
		}
	}
	.tac{text-align: center;}
	.actions{
		background: $gray-light;
		p{margin: 5px 0;}
		.info{
			// padding: 8px 0;
		}
		/*.copy{float:right;font-size: 27px;color:#272636;cursor:pointer;}*/
		.code{
			padding-bottom: 8px;
			/*appearance:textfield;*/
			// display:inline-block;
			font-style: normal;
			text-align: center;
		}
		.highlight {
			color: $blue;
		}
		.go-amazon{
			display: block;
			padding-top: 8px;
			text-align: center;
			span{
				text-decoration: underline;
			}
		}
		.review{
			margin-top: 2px;
			padding-top: 5px;
			border-top: 1px solid #FFF;
		}
		.review-url{
			width: 90%;
		}
		.action{
			display:inline-block;
			width:100%;
			line-height:$input-height;
			color: $blue;
			font-size: 1.2rem;
			text-align:center;
			text-decoration:none;
			cursor:pointer;
		}
		.amazon{
			background: $amazon-yellow;
		}
		.disable{
			// background:$gray;
			color: #666;
			font-style: normal;
			cursor:not-allowed;
		}
		.underline{text-decoration: underline;}
	}
}
