
body{
	margin:0;
	padding:0;
	color:#3d3938;
	font-size:14px;
	font-family:Whitney,Helvetica,Arial,sans-serif;
}
.country {
  position:fixed;
  z-index:101;
  top:0;
  left:0;
  height:0;
  width:100%;
  .module-container{
    position:relative;
    margin:0 auto;
    max-width:1200px;
    ul{
      position:relative;
      right:1rem;
      float:right;
      top:3rem;
      @media only screen and (max-width: 767px) {
        top:1rem;
      }
      right:1rem;
      margin:0;
      background-color:#07a7e3;
      color:white;
      padding:0;
      height:2rem;
      overflow:hidden;
      transition:200ms;
      padding-right:.5rem;
      cursor:pointer;
      li{
        list-style:none;
        width:5rem;
        text-align:center;
        line-height:2rem;
        font-size:1.5rem;
        a{
          color:white;
        }
      }
      &:after{
        content:'';
        display:block;
        position:absolute;
        top:.6rem;
        right:.5rem;
        height:0;
        width:0;
        line-height:0;
        overflow:hidden;
        border:solid transparent;
        border-width:.6rem .3rem 0 .3rem;
        border-top-color:white;
        transition:500ms;
      }
      &:hover{
        height:6rem;
        &:after{
          transform:rotate(180deg);
        }
      }
    }
  }
}
.qc{
	.banner{
		img{
			width:100%;
		}
	}
	.arrowpc{
			display:inline;
	}
	.arrowmo{
		display:none;
	}
	#shareTips{
		margin:0 auto;
		max-width:665px;
		text-align:center;
		font-size:1.2rem;
		display:none;
		color:#37a7e1;
	}
	.linediv{
		max-width:665px;
		margin:1rem auto 0 auto;
		display:flex;
		>div{
			display:inline-block;
		}
		.line{
			background-color:#403c3b;
			display:inline-block;
			width:30px;
			height:30px;
			line-height:30px;
			border-radius: 20px;
			color:white;
			vertical-align:top;
			text-align:center;
		}
		.line1{
			margin-left:3rem;
		}
		.empty{
			width:32%;
			margin-top: 1rem;
    	border-top: 1px solid;
		}
	}
	.login{
		max-width:665px;
		text-align:left;
		margin:0 auto;
		background-color:white;
		padding:1rem .5rem;
		display:flex;
		.iconfont{
			font-size:5rem;
		}
		.step1{
		}
		.step1,.step2,.step3
		{
			&:hover{
				.line{
					background-color:#07a7e3;
				}
				.iconfont{
					color:#37a7e1;
				}
				a{
					color:#07a7e3;
				}
			}	
		}
		>div{
			display:inline-block;
			width:33.33%;
			text-align:left;
			position:relative;
			.setup{
				display:inline-block;
				position:relative;
				margin-left:.5rem;
				>div{
					line-height:1.5rem;
				}
				.noLink{
					text-decoration:none;
				}
				a{
					cursor:pointer;
					color:#111;
					text-decoration:underline;
				}
			}
						
			a:visited{
				color:#111;
			}
		}
		#step1{
			word-break:break-word;
			text-align:center;
			max-width:100px;
		}
		#step3{
			text-align:center;
		}
		#step2{
				position:relative;
				text-align:center;
				.country {
				  position:absolute;
				  z-index:90;
				  top:0;
				  left:0;
				  height:0;
				  width:100%;
				  .module-container{
				    position:relative;
				    margin:0 auto;
				    max-width:1200px;
				    ul{
				      position:relative;
				      right:0rem;
				      float:right;
				      top:2rem;
				      @media only screen and (max-width: 767px) {
				        top:0rem;
				      }
				      margin:0;
				      background-color:white;
				      border:1px solid #37a7e1;
				      color:white;
				      padding:0;
				      height:2rem;
				      overflow:hidden;
				      transition:200ms;
				      padding-right:.5rem;
				      cursor:pointer;
				      li{
				        list-style:none;
				        width:5rem;
				        text-align:center;
				        line-height:2rem;
				        font-size:1.5rem;
				        a{
				          color:#37a7e1;
				        }
				      }
				      &:after{
				        content:'';
				        display:block;
				        position:absolute;
				        top:.6rem;
				        right:.5rem;
				        height:0;
				        width:0;
				        line-height:0;
				        overflow:hidden;
				        border:solid transparent;
				        border-width:.6rem .3rem 0 .3rem;
				        border-top-color:#37a7e1;
				        transition:500ms;
				      }
				      &:hover{
				        height:6rem;
				        &:after{
				          transform:rotate(180deg);
				        }
				      }
				    }
				  }
				}
			}
	}
	.joinTips{
		text-align:left;
		max-width:665px;
		margin:3rem auto 0 auto;
		img{
			height:60px;
		}
	}
	.joinTipsDE{
		img{
			height:40px;
		}
	}
	.prize{
		text-align: left;
	  max-width: 665px;
	  margin: 1rem auto 1rem auto;
	  position:relative;
	  .win,.winTips{
			vertical-align: top;
			margin-top:.5rem;
			height:50px;
		}
		.winTips{
			margin-left:1rem;
		}
		.winTipsDE{
			height:33px;
			margin-left:0;
		}
		>div{
			text-align:left;
			margin-top:1rem;
		}
		.phone{
			vertical-align: top;
			height:200px;
			left:24rem;
			margin-left:10rem;
			position:absolute;
		}
	}
	.rules{
		margin-top:2rem;
		padding:1rem 0;
		text-align:center;
		position:relative;
		background-color:#ffbe0e;
		>span{
			font-size:32px;
			line-height:125px;
			font-weight:bold;
			vertical-align: top;
		}
		>div{
			font-size:1rem;
			line-height:1.8rem;
			display:inline-block;
			margin-left:1rem;
			text-align:left;
		}
	}
	.revolution{
		text-align:center;
		margin:2rem auto 1.5rem auto;
		max-width:1000px;
		.btn{
			margin:.5rem 0 2rem 0;
			padding:.5rem .7rem;
			display:inline-block;
			font-weight:bold;
			background:-webkit-linear-gradient(top,#ffdc3c,#ffbe0e);
			background: -o-linear-gradient(top,#ffdc3c,#ffbe0e);
			background:-moz-linear-gradient(top,#ffdc3c,#ffbe0e);
			background:-ms-linear-gradient(top,#ffdc3c,#ffbe0e);
			font-size:32px;
			border-radius:10px;
		}
		.btn:hover{
			background:#727171;
			color:#ffbe0e
		}
		.title{
			margin-bottom:2rem;
		}
		.desc{
			margin-top:2rem;
		}
		p{
			font-size:1.2rem;
			margin:.3rem 0 0 0;
			padding:0;
		}

		.start{
			#progress1{
				height:17px;
				transition:height 30s;
			}
			#progress2{
				height:54px;
				background-color:#24ce7b;
				animation:mymove2 30s;
				@keyframes mymove2
				{
					0% {height:0px;background-color:red;}
					19.99% {background-color:red;}
					20% {background-color:#24ce7b;}
					100% {height:54px;background-color:#24ce7b}
				}
			}
			#progress3{
				height:61px;
				background-color:#24ce7b;
				animation:mymove3 30s;
				@keyframes mymove3
				{
					0% {height:0px;background-color:red;}
					19.99% {background-color:red;}
					20% {background-color:#24ce7b;}
					100% {height:61px;background-color:#24ce7b}
				}
			}
		}
		ul{
			width:99.99%;
		}
		ul,li{
			margin:0;
			padding:0;
		}
		li{
			width:32%;
			display:inline-block;
			vertical-align: top;
			height:540px;
			padding-bottom:2rem;
			.battery{
				position:relative;
				display:inline-block;
				.progress{
					background-color:red;
					position:absolute;
					left:2.29rem;
					bottom:17.25rem;
					width:44px;
					height:0px;
					border-radius:0 0 2px 2px;
				}
				.progressTisp{
					position:absolute;
					width:100%;
					text-align:center;
					bottom:14.8rem;
					font-size:1.2rem;
				}
			}
			.smaillLog{
				position: absolute;
		    bottom: 1.6rem;
		    left: 2.28rem;
			}
		}
		.empty{
			width:2%;
		}
		.battery1{
			background-color:#eaeaea;
			.title{
				background-color:#727171;
				color:white;
				line-height:4rem;
				height:4rem;
				font-size:1.2rem;
				font-weight:bold;
			}
		}
		.battery2{
			background-color:#daf2fb;
			.title{
				background-color:#06a7e2;
			}
		}
		.battery3{
			background-color:#def8eb;
			.title{
				background-color:#24ce7b;
			}
		}
		.batteryTitle{
			color:white;
			height:4rem;		
			>div{
				display:inline-block;
				position:relative;
				text-align:left;
				margin-top:12px;
				img{
					position:absolute;
					left:0;
					top:-10px;
				}
				>div{
					margin-left:4.3rem;
				}
			}
			>span{
				font-size:34px;
				margin-left:5px;
			}
		}
		.batteryTimerTips{
			margin:4rem 0;
		}
		.testingTips{
			text-align:left;
			font-size:1.2rem;
			margin-top:1rem;
			color:#727171;
		}
		#arrow{
			width:70%;
		}
		.arrowList{
			li{
				height:auto;
			}
			margin-top:-8px;
			position:relative;
			.battery{
				height:8rem;
				line-height:8rem;
				.hour,.min{
					font-size:48px;
				}
			}
		}
		.arrowBtn{
			margin-top:1rem;
		}
		.arrowTips{
			position:absolute;
			top:10%;
			right:32%;
			width:150px;
			text-align:left;
		}
		.timer{
			text-align: center;
			margin:2rem 0;
			>div{
				position:relative;
				display:inline-block;
			}
			.timerBg{
				width:300px;
			}
			.imgOne{
				position: absolute;
				top:0;
				left:37%;
				img{
					width:37px;
					display:none;
				}
			}
			.imgTwo{
				position: absolute;
				left:53%;
				top:0;
				img{
					width:37px;
					display:none;
				}
			}
			.imgThree{
				position: absolute;
				left:71%;
				top:0;
				img{
					width:37px;
					display:none;
				}
			}
			.imgFour{
				position: absolute;
				right:0;
				top:0;
				img{
					width:37px;
					display:none;
				}
			}
		}
	}
	.revolutionList{
		background-color:#edeeee;
		padding-bottom:1.5rem;
		>div{
			max-width:1200px;
			margin:0 auto;
		}
		.title{
			font-weight:bold;
			font-size:32px;
			text-align:center;
			padding-top:3.5rem;
		}
		.charge3{
			.subject{
				padding-top:2rem;
				position:relative;
				width:100%;
				display:table;
				>div{
					&:first-child{
						text-align:right;
						vertical-align:middle;
						width:45%;
						display:table-cell;
					}
					&:last-child{
						vertical-align:middle;
						display:table-cell;
						color:#727171;
						font-size: 16px;
	    			>div:first-child{
	    				font-size:28px;
	    			}
					}
				}
				.powerlineImg{
					width:40px;
				}
			}
		}
		ul,li{
			margin:0;
			padding:0;
		}
		li:hover{
			>div:first-child{
				margin-right:8%;
				margin-left:0%;
				animation:mymove 1s;
				@keyframes mymove
				{
					from {margin-right:50%;margin-left:50%;}
					to {margin-right:8%;margin-left:0%;}
				}
			}
		}
		li{
			width:25%;
			display:inline-block;
			text-align:center;
			margin-top:2rem;
			>div:first-child{
				height:2px;
				background-color:#06a7e2;
				margin-right:50%;
				margin-left:50%;
			}
			>div:last-child{
				margin-right:8%;
				padding:1.9rem;
				background-color:white;
				img{
					width:100%;
				}
				.name{
					font-size:1.2rem;
					line-height:1.4rem;
					height:3rem;
					margin:1rem 0 .5rem 0;
					overflow:hidden;
				}
				.desc{
					color:#727171;
					margin:.5rem 0;
					line-height:1.2rem;
					height:3.5rem;
					overflow:hidden;
				}
				.btn{
					cursor:pointer;
					color:white;
					background-color:#595757;
					padding:.5rem 0;
					a{
						color:white;
						display:block;
					}
				}
				.btn:hover{
					background-color:#06a7e2;
				}

			}
		}
	}
	@media screen and (max-width: 768px) {
		.banner{
		}
		.prize{
			margin:1rem auto 1rem 10%
		}
		.joinTips{
			margin:3rem auto 0 10%
		}
		.login{
			margin-left:10%
		}
		.revolution{
			.arrowTips{
				
			}
		}
	}
	@media screen and (max-width: 767px) {
		.banner{
			margin-left:-33%;
			overflow:hidden;
			img{
				width:122%;
			}
		}
		.newImg{
			img{
				width:100%;
			}
		}
		.linediv{
			margin:1rem auto 0 auto;
		}
		.arrowpc{
			display:none;
		}
		.arrowmo{
			display:inline;
		}
		.joinTips{
			margin:2rem auto 0 auto;
			img{
				height:40px;
				margin-left:1rem;
			}
		}
		.linediv{
			.line1{
				margin-left:1rem;
			}
		}
		.login{
			margin-left:0;
			.line{
				right:7px;
			}
			.step1{
				margin-left:0;
			}
			.iconfont{
				display:block;
			}
			>div{
				.setup{
					margin-left:0;
					a{
						font-size:1.2rem;
						display:inline-block;
						margin:5px 0;
					}
				}
			}
			.step1{
				/*width:120px;*/
			}
			.step2{
				/*width:115px;*/
				.line{
					right:-5px;
				}
			}
			.step3{
				/*width:120px;*/
			}
			#step2{
				.country{
					top:6rem;
					left:0;
					.module-container{
						ul{
							left:-.5rem;
						}
					}
				}
			}
		}
		.rules{
			padding:1rem;
			>span{
				font-size:2rem;
			}
			>div{
				font-size:1rem;
			}
		}
		.prize{
			margin:1rem auto;
			img{
				height:40px;
			}
			.win,.winTips{
				vertical-align: top;
				margin-top:2rem;
			}
			.win{
				height:40px;
				margin-left:1rem;
			}
			.winTips{
				height:40px;
			}
			.winTipsDE{
				height:18px !important;
				margin-left:1rem;
			}
			>div{
				margin-left:1rem;
			}
			.phone{
				vertical-align: top;
				height:95px;
				left:auto;
				right:1rem;
				margin-left:0;
				top:0rem;
			}
			.fs25{
				font-size:18px;
			}
			.fs16{
				font-size:16px;
			}
		}
		.joinTipsDE{
			img{
				height:27px !important;
			}
		}
		.revolution{
			margin:2rem 1rem 1.5rem 1rem;
			.arrowTips{
				right:2%;
				margin-top:-10px;
			}
			.arrowBtn{
				margin-top:1rem;
				width:100%;
			}
			li{
				.fs48{
					font-size:24px;
				}
				.fs16{
					font-size:1rem;
				}
			}
			.btn{
				font-size:2rem;
			}
			.arrowList{
				.battery{
					height:2rem;
					line-height:2rem;
					.hour,.min{
						font-size:20px;
					}
				}
			}
			.testingTips{
				font-size:1rem;
			}
			.batteryTitle{
				>div{
					img{
						display:none;
					}
					>div{
						margin-left:0;
					}
				}
				>span{
					font-size:14px;
				}
			}
			.fs32{
				font-size:24px;
			}
			.fs64{
				font-size:32px;
			}
			p{
				font-size:1rem;
			}
			.battery1{
				.title{
					font-size:14px;
					line-height:100%;
					height:3.1rem;
					padding-top:12px;
				}
			}
		}
		.revolutionList{
			.title{
				font-size:2rem;
			}
			.charge3 {
				.subject{
					>div:first-child{
						width:auto;
					}
				}
			}
			li{
				width:50%;
				margin-top:1rem;
				>div:last-child{
					.name{
						height:4rem;
					}
				}
			}
			ul{
				margin-left:1rem;
			}
		}
	}
	@media screen and (max-width: 375px) {
		
		.login{
			>div{
				.setup{
					a{
						font-size:1rem;
					}
				}
			}
			#step2{
				.country{
					.module-container{
						ul{
							left:-.5rem;
						}
					}
				}
			}
		}
		.prize{
			.win,.winTips{
				height:35px;
			}
		}
		.fs25{
			font-size:16px;
		}
		.fs16{
			font-size:14px;
		}
		.joinTips{
			img{
				margin-left:.5rem;
				height:35px;
			}
		}
		.revolutionList{
			.title{
				font-size:2rem;
			}
			li{
				width:100%;
				margin-top:1rem;
				>div:last-child{
					.name{
						height:6rem;
					}
				}
			}
			ul{
				margin-left:1rem;
			}
		}
	}
	@media screen and (max-width: 320px) {
		.banner{
		}
		.joinTipsDE{
			height:22px;
		}
		.revolution {
			li{
				height:420px;
				.battery{
					img{
						width:80px;
					}
					.progress{
						bottom:12.65rem;
						left:1.63rem;
						width:32px;

					}
					.progressTisp{
						bottom:13.8rem;
					}
					.smaillLog{
						width:36px;
						bottom:1.1rem;
						left:1.6rem;
					}
				}
			}
			.start{
				#progress1{
					height:10px;
				}
			}
			.btn{
				font-size:24px;
			}
		}
		.prize{
			.winTipsDE{
				img{
					height:22px;
				}
			}
			.win,.winTips{
				height:30px;
			}
			.phone{
				height:84px;
			}
			>div{
			}
		}
		.joinTips{
			img{
				height:36px;
			}
		}
		.login{
			.step2{
				width:120px;
			}
			.iconfont{
				font-size:3rem;
			}
			>div{
				.setup{
					margin-left:0;
					a{
						font-size:1rem;
					}
				}
			}
			.line{
				margin-top:.5rem;
			}
			#step2{
				.country{
					.module-container{
						ul{
							right:0;
							top:-2rem;
						}
					}
				}
			}
		}
		.fs25{
			font-size:16px;
		}
	}
	.fs16{
		font-size:1rem;
	}
	.fs48{
		font-size:48px;
	}
	.fs16{
		font-size:16px;
	}
	.fs32{
		font-size:32px;
	}
	.fs25{
			font-size:25px;
	}
	.fs64{
		font-size:64px;
	}
	.fb{
			font-weight:bold;
	}
	.relative
	{
		position:relative;
	}
}