/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.Version {
  background-color: white;
  line-height: 14px;
  font-size:12px;
  padding:100px 20px;
}
