.Footer
  .module_container
      .follow
        h3 Connect with us
        a(target='_blank', href='http://www.facebook.com/Anker.fans')
          i.iconfont &#xe605;
        a(target='_blank', href='https://twitter.com/Ankerofficial')
          i.iconfont &#xe607;
        a(target='_blank', href='http://instagram.com/anker_official?ref=badge')
          i.iconfont &#xe604;
        a(target='_blank', href='https://www.linkedin.com/company/ianker')
          i.iconfont &#xe609;
        a(target='_blank', href='http://www.youtube.com/user/AnkerOceanwing')
          i.iconfont &#xe606;
        a(target='_blank', href='https://plus.google.com/114663344536204280808')
          i.iconfont.google &#xe601;
      .cell.contact
        .tels
          h4 Call us
          div
            p
              a(href='tel:+1 (800) 988 7973') +1 (800) 988 7973 (US)
            p Mon-Fri 9AM - 5PM (PST)
          div
            p
              a(href='tel:+44 (0) 1604 936 200') +44 (0) 1604 936 200 (UK)
            p Mon-Fri 6AM - 11AM (GMT)
        .email
          h4 Email
          p
            a(href='mailto:support@anker.com') support@anker.com
    .sub.clearfix
      p.copyright Copyright © 2016 Anker Technology Co. Limited
