<div class="Header clearfix">
    <div class="Header-fixed">
        <div class="navigator">
            <a href="/" class="logo"><img src="images/logo.png" alt="Anker" /></a><a class="menu"><i class="iconfont"></i></a>
            <ul class="list">
                <li><a href="/">HOME</a><i class="iconfont"></i></li>
                <li><a href="/products">PRODUCTS</a><i class="iconfont"></i></li>
                <li class="search"><a href="/search">SEARCH</a><i class="iconfont"></i></li>
                <li><a href="/poweruser">POWER USERS</a><i class="iconfont"></i></li>
                <li><a href="/support">SUPPORT</a><i class="iconfont"></i></li>
                <li></li>
            </ul>
            <div class="mask"></div>
            <div class="tools">
                <div class="users">
                  <a title="Profile" href="/profile" class="tool account"><i class="iconfont"></i></a>
                  <a title="Profile" href="/profile" class="tool member">UserName</a>
                  <a title="Logout" onclick="logout()" class="tool logout"><i class="iconfont">&#xe672;</i></a>
                  <a href="/search" title="Search" class="tool search"><i class="iconfont">&#xe664;</i></a>
                  <a href="/cart" class="tool cart"><i class="iconfont">&#xe65b;</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
