doctype html
html

  head
    title #{title}
    meta(name="viewport",content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(href="/deals/css/global.css", rel="stylesheet")
    link(href="/deals/css/admin.css", rel="stylesheet")
    script(src="/deals/javascript/jquery.min.js")
    script(src="/deals/javascript/jquery.cookie.js")
    script.
      $(function() {

        var lang = !{JSON.stringify(lang)};
        var data = !{JSON.stringify(data)};

        var tabs = $(".tabs a"), pannel = $(".contents .module");
        tabs.click(function() {
          var index = tabs.index($(this));
          pannel.eq(index).addClass('cur').siblings().removeClass('cur');
          tabs.eq(index).addClass('cur').siblings().removeClass('cur');
        })
        $("select.country_lang").change(function() {
          setData('lang', $(this).val(), lang[$(this).val()]);
        })
        $("select.country_data").change(function() {
          setData('data', $(this).val(), data[$(this).val()]);
        })
        var countryPrize = $("select.country_prize"),
        zonePrize = $("select.zone_prize");
        countryPrize.change(function() {
          if(countryPrize.val() && zonePrize.val()) {
            all_entreis(countryPrize.val(), zonePrize.val())
          }
        })
        zonePrize.change(function() {
          if(countryPrize.val() && zonePrize.val()) {
            all_entreis(countryPrize.val(), zonePrize.val())
          }
        })

      })

      function setData(type, c, d) {
        if(c) {
          $(".submit_" + type).show();
        } else {
          $(".submit_" + type).hide();
        }
        var t = "";

        //配置语言数据
        if(type === 'lang') {
          for(var i in d) {
            t += ("<tr><th>" + i + "</th><td><input type='text' name='lang[" + i + "]' value=\"" + d[i] + "\" /></td></tr>")
          }
          $("table.lang").html(t);
        }

        //配置商品数据
        if(type === 'data') {
          for (var i in d) {
            t += ("<table><caption>" + i + "</caption><tr><th class='num'>option</th><th class='val'>imgurl</th><th class='val'>name </th><th class='val'>desc</th><th class='val'>amazonUrl</th></tr>");
            d[i].map(function(item, j) {
              t += "<tr><td><a class='del_item' href='javascript:void(0);' onClick='del_item(this," + j + ")'>删除</span></td>";
              for (var k in item) {
                t += "<td><input type='text' name='data["+i+"]["+j+"]["+k+"]' value='" + item[k] + "' /></td>";
              }
              t += "</tr>"
            })
            t += "<tr><td colspan='5'><a class='add_item' href='javascript:void(0);' onClick='add_item(this)'>增加商品</a></td></tr></table>"
          }
          $("div.data").html(t);
        }
      }

      function add_item(e) {
        var tr = $(e).parent().parent(),
          table = tr.parent().parent(),
          title = table.find('caption').html(),
          index = table.find('tr').index(tr) - 1;
          dom = '<tr><td><a class="del_item" href="javascript:void(0);" onclick="del_item(this,'+index+')">删除</a></td><td><input type="text" name="data['+title+']['+index+'][imgurl]" value=""></td><td><input type="text" name="data['+title+']['+index+'][name]" value=""></td><td><input type="text" name="data['+title+']['+index+'][desc]" value=""></td><td><input type="text" name="data['+title+']['+index+'][amazonUrl]" value=""/>';
        $(dom).insertBefore(tr);
      }

      function del_item(e) {
        var tr = $(e).parent().parent(),
          table = tr.parent().parent(),
          index = table.find('tr').index(tr);
        table.find('tr').eq(index).remove();
      }

      //获取所有用户entries
      function all_entreis(country_code, zone) {
        $.ajax({
          method: 'GET',
          url: '/api/content?path=/api/deals/deals_audios/all_entries',
          headers: {'token': $.cookie('token')},
          data: {"country_code": country_code, "zone":zone},
          success: function(result) {
            var dom = $("#prize");
            dom.html("<tr><th>Email</th><th>Country</th><th>ENTRIES</th><th>中奖操作</th></tr>");
            for (i in result) {
              dom.append("<tr><td>" + result[i].email + "</td><td>" + result[i].entries + "</td><td>" + country_code + "</td><td><a onClick=\"add_winner(\'" + country_code + "','" + zone + "\',\'" + result[i].user_id + "\')\">设置中奖</a></td></tr>")
            }
          }
        })
      };

      //提交某个时间段中奖用户
      function add_winner(country_code, zone, user_id) {
        if(confirm('确定')) {
          $.ajax({
            method: "PUT",
            url: "/api/content?path=/api/deals/deals_audios/add_winner",
            headers: {'token': $.cookie('token')},
            contentType: 'application/json',
            data: JSON.stringify({"country_code":country_code, "zone": zone ,"user_id": user_id}),
            success: function(r) {
              console.info(r);
            }
          });
        }
      }

  body
    include header

    .content
      .tabs
        a.cur 中奖设置
        a 多语言设置
        a 商品编辑
      .contents
        .module.cur
          input(type="hidden", name="type", value="lang")
          .days
            span 请选择国家
            select.country_prize(name="country_code")
              option
              option US
              option UK
              option DE
              option JP
            span 请选择日期
            select.zone_prize(name="day_code")
              option
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
          .list
            table#prize
        .module
          form
            input(type="hidden", name="type", value="lang")
            .days
              span 请选择国家
              select.country_lang(name="country_code")
                option 
                option US
                option UK
                option DE
                option JP
            .list
              table.lang
              input.submit_lang(type="submit", value="提交语言包", style="display:none")
        .module
          form
            input(type="hidden", name="type", value="data")
            .days
              span 请选择国家
              select.country_data(name="country_code")
                option 
                option US
                option UK
                option DE
                option JP
            .list
              div.data
              input.submit_data(type="submit", value="提交数据包", style="display:none")



    
    include footer