@import '../variables.scss';

.Member{
  .bannerDiv{
    background-color:#ebebed;
  }
  .banner{
    position:relative;
    img{
      max-width:$max-content-width;
      width:100%;
    }
  }
  a{
      color:$gray-dark;
    }
  .imgUpload{
    position:relative;
    display:inline-block;
    margin:.5rem 0;
    .upload{
      cursor:pointer;
      opacity:0;
      width:7.5rem;
      height:17px;
      position:absolute;
      left:0;
      z-index:10;
    }
  }
  .puBackground:hover{
    img:last-Child{
      display:inline;
    }
  }
  .userImg{
    position:absolute;
    bottom:1rem;
    left:5rem;
    img{
      width:6rem;
      height:6rem;
    }
    .puImg{
      width:6.5rem;
      height:7rem;
    }
  }
  .puTips{
     position:absolute;
     left:4.2rem;
     bottom:7.5rem;
     width:auto !important;
     height:auto !important;
     display:none;
  }
  .userInfo{
    position:absolute;
    bottom:1rem;
    left:12rem;
    right:0;
    .userName{
      font-size:2rem;
      width:100%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }

  }
  ul{
    margin:0 auto;
    max-width:$max-content-width;
    padding:0;
    overflow:hidden;
  }
  .wd{
    width:100%;
  }
  li{
    float:left;
    width:25%;
    list-style:none;
    margin:0;
    padding:0;
    line-height:2rem;
    background-color:$gray-light;
    text-align:center;
    a{
      display:block;
      padding:1.2rem;
      border-right:1px solid #fff;
      text-decoration:none;
      color:$gray-dark;
    }
    a:hover,.checked{
      color:white;
      background-color:$blue
    }
    .iconfont{
      font-size:2rem;
    }
    .name{
      display:block;
      margin-top:-5px;
    }
  }
}