@import '../variables.scss';

.Password{
  max-width:$max-content-width;
  margin:0 auto;
  &-container{
    margin:4.6rem 0 100px 0;
    @media screen and (max-width: 768px) {
     margin:2rem 1rem; 
     h3{
       text-align:center;
     }
    }
  }
   h3{
    font-size: 1.2rem;
    margin: 0;
   }
   .title{
    font-size:3.4rem;
    line-height:normal;
    text-align:center;
    margin:12px 0 12px;
    padding:12px 0;
    font-weight:normal;
  }
  .input{
    margin-top:.5rem;
  }
  .action{
    margin:.5rem 0;
    text-align:right;
    button{
      color:white;
      padding:.6rem 3rem;
      border:0 none;
    }
    .submit{
      background-color:$blue;
      margin:1rem 0;
      text-align:right;
    }
    .cancel{
      background: $gray-light;
    }
  }

}